$mainColor: #fa6de3;
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($justifyContent, $alignItems, $flexDirection) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $flexDirection;
}

.login {
  @include flex(center, center, '');
  width: 100vw;
  height: 100vh;

  .loginContainer {
    @include flexCenter;
    flex-direction: column;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 7px 7px 15px rgba(250, 109, 226, 0.3);
    animation: fade-in-up 0.7s ease-in-out;

    .logo {
      margin-bottom: 30px;
      font-size: 100px;
      font-weight: 700;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: $mainColor;
    }

    .inputBox {
      display: flex;
      align-items: center;
      margin: 10px 0;
      width: 100%;

      .inputTitle {
        margin-right: 20px;
        width: 100px;
        font-size: 8px;
        text-align: center;
      }

      .input {
        padding: 5px 10px;
        width: 250px;
        border: 1px solid lightgray;
        border-radius: 10px;

        &::placeholder {
          font-size: 8px;
        }

        &:focus {
          outline-color: $mainColor;
        }
      }
    }

    .loginBtn {
      margin-top: 30px;
      padding: 15px 40px;
      width: 50%;
      border: none;
      border-radius: 10px;
      background-color: $mainColor;
      font-size: 18px;
      font-weight: 700;
      color: white;
      cursor: pointer;
    }
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
