.main {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    border-bottom: 1px solid #e6e6e6;

    .logo {
      margin: 0;
      font-size: 35px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: black;
    }

    .searchBox {
      position: relative;
      padding: 5px 10px;
      width: 300px;
      border: 1px solid lightgray;
      border-radius: 20px;

      .searchInput {
        width: 100%;
        border: none;

        &:focus {
          outline: none;
        }
      }

      .searchIcon {
        position: absolute;
        right: 15px;
      }
    }

    .iconWrap {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100px;

      .icon {
        cursor: pointer;
      }
    }
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 30px 0;
    font-size: 20px;
    font-weight: 700;

    li {
      padding: 8px 30px;
      transition: all 0.1s;
      cursor: pointer;

      &:hover {
        padding: 5px 30px;
        text-align: center;
        border-bottom: 3px solid #fa6de3;
      }
    }
  }

  .feed {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .mainImage {
      width: 700px;
    }

    .mainTitle {
      margin-top: 30px;
      font-size: 20px;
      font-weight: 700;
    }
  }
}
